#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2008,10,27
 PRODUCTVERSION 0,1
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x28L
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
	BLOCK "000004b0"
	BEGIN
	    VALUE "CompanyName", "METEC Ingenieur AG Stuttgart\0"
	    VALUE "FileDescription", "MetecBD\0"
	    VALUE "FileVersion", "2008,10,27\0"
	    VALUE "InternalName", "MetecBD.dll\0"
	    VALUE "LegalCopyright", "Copyright by METEC Ingenieur AG Stuttgart\0"
	    VALUE "ProductName", "MetecBD\0"
	    VALUE "ProductVersion", "0.2\0"
	END
    END
    BLOCK "VarFileInfo"
    BEGIN
	VALUE "Translation", 0x0, 1200
    END
END

